body{
    background-color: white
}
#dg:link{
    color: red;
    background-color: yellow;
}
#dg:visited{
    color: blue;
    background-color: darkgreen;
}
#dg:hover{
    color: crimson;
    background-color: aquamarine;
}
#dg:active{
    background-color: blueviolet;
}