@keyframes anime {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}


#devvv{
    color: rgba(255, 255, 255, 0.466);
    box-sizing: border-box;
    width: 280px;
    margin: 50px auto;
}
body{
    background-color: rgba(3, 3, 3, 0.795) !important;
    font-family: Arial, Helvetica, sans-serif;
}
/* #flex-header{
    display: flex;
    background-color: blue;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px black;
    position: sticky;
    top: 0;
    z-index: 2;
}
#flex-header span{
    cursor:pointer;
}
#flex-header div{
    width: 150px;
    height: 60px;
    color: rgba(182, 235, 245, 0.979);
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 5px;
}
#flex-header div a{
    display: block;
    text-decoration: none;
    color: rgba(182, 235, 245, 0.979);
    width: 100px;
    font-size: 14px;
}
#flex-header div a:hover{
    color: gold;
} */
div.sub1 a{
    background-color: rgba(247, 73, 73, 0.973);
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 4px 4px gray;
}
div.sub1 a:hover{
    background-color: rgba(247, 73, 73, 0.973);
    color: black !important;
    padding: 10px 15px;
    border-radius: 20px;
}

#container1{
    margin: 50px auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-bottom: 200px;
}
@media (max-width:845px) {
    #container1{
        grid-template-columns: auto;
        margin: 0 auto;
    }
}
/* .d1img{
    max-width: 500px;
    box-sizing: border-box;
}
.d1img img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 4px 4px black, -4px -4px yellow;
}
.d1img div{
    margin-top: 30px;
    color: green;
    text-shadow: 4px 4px 10px black;
}
.d1img span{
    color: white;
} */

.card{
    background-color: rgba(177, 173, 173, 0.521);
    border-radius: 20px;
    margin: auto;
}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-body h5{
    color: #0d6efd;
}
.card-body .btn{
    border-radius: 13px;
}
.card-text{
    color: yellow;
}

.d2{
    margin: auto;
}
@media (max-width:845px) {
    .d2{
        margin: 50px auto;
        max-width: 280px;
    }
}
.d2 p{
    font-size: 35px;
    color: green;
}
.d2 span{
    font-size: 60px;
    color: white;
}
#divb{
    animation-name: anime;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    padding: 92px 0;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px yellow, -4px -4px 10px blue;
    background-image: repeating-conic-gradient(green 10deg, blue 20deg, black 30deg, red 40deg, yellow 50deg);
    margin-top: 30px;
}
#divb span{
    font-size: 14px;
}



#carouselExampleCaptions{
    margin: 0 auto;
    max-width: 900px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black, -5px -5px 20px black;
}
@media (max-width:850px) {
    #carouselExampleCaptions{
        margin-top: 50px;
    }
}
.d-block{
    border-radius: 50px;
    box-sizing: border-box;
    /* height: 500px; */
}
.carousel-caption h5,p{
    color: gold;
    font-size: 25px;
}


#container2{
    background-color: rgba(0, 255, 255, 0.418);
    margin-top: 250px;
}
#c2div1{
    max-width: 900px;
    margin: 0 auto;
}
#c2div1 p{
    color: rgba(3, 3, 3, 0.795);
}
@media (max-width:850px) {
    #c2div1 p{
        font-size: 18px;
    }
}


#screen3{
    background-color: rgb(241, 154, 154);
    margin-top: -16px;
}
#s3container{
    display: grid;
    grid-template-columns: auto auto;
}
@media (max-width:850px) {
    #s3container{
        grid-template-columns: auto;
    }
}
.s3{
    max-width: 450px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 50px 30px;
    background-color: rgb(36, 36, 36);
    margin: 50px auto;
}
.s3 h6{
    font-size: 45px;
    padding-bottom: 30px;
    color: whitesmoke;
}
.s3 p{
    font-size: 20px;
}
.txtdec{
    text-decoration: underline !important;
    cursor: pointer;
    color: yellow;
}