.gg{
    background-color: red;
}
td{
    border: none;
    width: 80px;
    height: 40px;
}
.de{
    border: none;
}
.gd{
    background-color: darkgoldenrod;
}
.yellow{
background-color: yellow;
}
.purple{
background-color: palevioletred;
}
.violet{
background-color: violet;
}
.lblue{
background-color: lightblue;
}
.green{
    background-color: green;
}
.lgreen{
    background-color: lightgreen;
}
/* .sp{
    border-spacing: 90px;
} */

#d1{
    position: relative;
}
.td1:hover{
    padding: 15px;
    position: absolute;
    z-index: 2;
    background-color: blue;
}

